/* ::::: http://blog.10jqka.com.cn/public/ke/skins/common/editor.css?ver=3.4.1 ::::: */

html { margin: 0pt; padding: 0pt; }
body { margin: 0pt; padding: 5px; background-color: rgb(255, 255, 255); color: rgb(0, 0, 0); font-size: 12px; font-family: "sans serif",tahoma,verdana,helvetica; line-height: 1.5; }
