@charset "gb2312";body{margin:0 auto;padding:0;font-size:12px;color:#666;height:100%;font-family:Arial,Helvetica,sans-serif,"宋体";background:#fff;}
div,form,img,ul,ol,li,dl,dd,dt,p,span,label,table,tr,td,th,em,h1,h2,h3{border:0 none;margin:0;padding:0;list-style:none;}
a:link{color:#333;text-decoration:none;}
a:visited{color:#333;text-decoration:none;}
a:hover{color:#d90000;text-decoration:none;}
a.clear{clear:both;height:0;}
.index_l_ad{width:720px;height:60px;overflow:hidden;}
.con_ad a img{width:455px;float:left;height:60px;overflow:hidden;margin-left:10px;}
.ad980{margin:0 auto;margin-top:5px;width:950px;height:123px;overflow:hidden;}
.ad960{    height: 149px;
    margin: 0;
    overflow: hidden;
    width: 995px;;}
.ad990{margin:0 auto;margin-top:5px;width:936px;height:119px;overflow:hidden;}
.mar10{margin-top:5px;}
.channel-nav{width:980px;height:33px;overflow:hidden;margin:0 auto 8px auto;background:url(catalogbar.png);no-repeat;padding:1px 2px 3px 2px;position:relative;}
.channel-nav ul{width:790px;height:33px;line-height:33px;font-size:14px;overflow:hidden;position:absolute;top:1px;left:4px;}
.channel-nav li{height:33px;overflow:hidden;float:left;padding-left:-2px;background:url(catalogbar.png) no-repeat 0 -40px;position:relative;left:-2px;}
.channel-nav li a{float:left;padding:0 12px;color:#fff;}
.channel-nav li a:link{color:#fff;}
.channel-nav li a:visited{color:#fff;}
.channel-nav li a:active{color:#fff;}
.channel-nav li a:hover,.channel-nav li.selected a{text-decoration:none;background:url(catalogbar.png) no-repeat 50% -40px;}
.channel-nav .ye{text-decoration:none;background:url(catalogbar.png) no-repeat 50% -40px;}
.channel-nav .search{position:absolute;width:226px;height:20px;top:8px;left:746px;overflow:hidden;}
.channel-nav .search input{position:absolute;width:150px;height:16px;top:2px;left:20px;font-size:12px;line-height:16px;background:none;border:none;}
.channel-nav .search input.notxt{color:#D8D8D8;}
.channel-nav .search button{position:absolute;width:48px;height:20px;top:0;left:178px;background:none;border:none;padding-top:20px;}
.logo{width:980px;height:90px;position:relative;background:url(top_bg.gif) no-repeat;}
#headtop{clear:both;height:30px;line-height:30px;margin:0 auto;position:relative;overflow:hidden;width:980px;}
#headtop ul{float:left;text-align:right;width:940px;}
#headtop li{float:left;}
#headtop ul.topnav{width:940px;height:20px;line-height:20px;text-align:right;padding-top:3px;}
#headtop ul.topnav li{float:right;padding:0 3px;}
.fleft{float:left;}
.fright{float:right;}
#headsear{width:980px;margin:10px auto;height:62px;}
.head_sear_l{float:left;width:980px;text-align:center;height:90px;}
.head_sear_c{float:left;width:420px;height:65px;}
.navinput{border:0;color:#666;height:20px;line-height:20px;width:300px;margin:3px 10px 0px 6px;}
.navbut{background:url(but1.gif) no-repeat;border:0;width:77px;height:22px;line-height:22px;vertical-align:middle;*margin-top:-5px;cursor:pointer;}
.head_sear{color:#d80000;height:34px;line-height:34px;background:url(f4.gif) no-repeat;}
.searkey b{color:#d90000}
.searkey{height:30px;line-height:30px;overflow:hidden;}
.searkey a{padding-left:5px;}
.head_sear_r{width:315px;float:left;height:65px;overflow:hidden;text-align:center;}
.place{width:980px;height:25px;line-height:25px;margin:2px auto;}
.place span{display:block;width:250px;background:url(yuanjiao.jpg) -2px -2px no-repeat;height:25px;float:left;text-indent:10px;margin-right:3px;}
.place b{color:#F00;padding:0 5px;}
.place p{float:left;}
.place p a:link,.place p a:visited{padding:2px 5px;font-weight:bold;text-decoration:none;color:#333;font-size:14px;border:solid 1px #ccc;margin:0 5px 0 0}
#nav{width:980px;margin:0 auto;background:url(nav.png) no-repeat;height:36px;line-height:36px;overflow:hidden;}
#nav ul{padding-left:10px;}
#nav li{float:left;}
#nav li a{padding:0 5px;color:#fff;text-decoration:none;}
#nav li a:hover{color:#000;}
#nav li a.hover{color:#FF0;}
#main{width:980px;margin:5px auto 0;height:100%;}
.left{width:720px;margin:auto 10px auto auto;float:left;display:inline;}
.index_bg5 .left{margin:auto;}

.index_hot{background:url(l_line.jpg) repeat-y;height:100%;overflow:hidden;}
.play_current{background:url(p_line.jpg) repeat-y;height:100%;overflow:hidden;}

.play_current h1{background:url(yuanjiao.jpg) 0 -167px no-repeat;overflow:hidden;}
.map{background:url(map_line.gif) repeat-y;overflow:hidden;}
.index_rank{background:url(r_cline.jpg) repeat-y;height:100%;overflow:hidden;}

.paly_rrank{background:url(p_rline.jpg) repeat-y;height:100%;overflow:hidden;}
.paly_rrank h1{background:url(yuanjiao.jpg) 0 -222px no-repeat;overflow:hidden;}
.paly_rrank li{float:left;height:23px;line-height:23px;width:220px;}
.paly_rrank li a{float:left;width:170px;overflow:hidden;height:23px;text-indent:10px;}
.paly_rrank li span{float:right;width:48px;overflow:hidden;}
.index_hot h1,.index_rank h1,.index_rank1 h1,.map h1,.play_current h1,.paly_rrank h1{color:#333;line-height:32px;height:32px;font-size:14px;}
.index_hot h1{background:url(yuanjiao.jpg) 0 -167px no-repeat;overflow:hidden;}

.index_hot h2{background:url () no-repeat;overflow:hidden;}

.index_rank h1{background:url(yuanjiao.jpg) 0 -55px no-repeat;width:100%;overflow:hidden;}
.map h1{background:url(yuanjiao.jpg) 0 -110px no-repeat;}
.index_hot h1  b,.index_rank h1 b,.index_rank1 h1 b,.map h1 b,.paly_rrank h1 b{color:#b90103;padding-left:10px;font-size:16px;}
.index_hot h1 a:link{color:#b90103;}
.index_hot h1 a:visited{color:#b90103;}
.index_hot h1 a:hover{color:#ff0000;}
.index_hot h1 a:active{color:#b90103;}
.index_hot h2 a:link{color:#b90103;}
.index_hot h2 a:visited{color:#b90103;}
.index_hot h2 a:hover{color:#ff0000;}
.index_hot h2 a:active{color:#b90103;}
.index_rank li{flat:left;height:23px;line-height:23px;width:250px;}
.index_rank li{flat:left;height:23px;line-height:23px;width:250px;}
.index_rank li a{float:left;width:195px;overflow:hidden;height:22px;padding-left: 10px;}
.index_rank li em{color:#c85b60;float:left;font-style:normal;width:25px;overflow:hidden;text-align:center;height:23px;}
.index_rank li span{float:right;width:40px;overflow:hidden;}
.line{border-bottom:dashed 1px #ccc;padding:0px 0px 1px 0px;}
.com_pic{float:left;height:150px;overflow:hidden;text-align:center;width:101px;margin:8px 0 0 16px;display:inline;}
.com_pic a img{width:95px;height:120px;padding:2px;border:1px solid #ccc;}
.com_pic p a{color:#bd0005;line-height:24px;text-align:center;}
.com_pic p a:visited{color:#bd0005;}
.pr_pic{float:left;height:150px;overflow:hidden;text-align:center;width:101px;margin:8px 0 0 10px;display:inline;}
.pr_pic a img{width:95px;height:120px;padding:2px;border:1px solid #ccc;}
.pr_pic p a{color:#bd0005;line-height:24px;text-align:center;}
.pr_pic p a:visited{color:#bd0005;}
.line_l_bon{background:url(yuanjiao.jpg) 0px -206px no-repeat;height:10px;overflow:hidden;}
.line_p_bon{background:url(yuanjiao.jpg) 0px -206px no-repeat;height:10px;overflow:hidden;}
.line_p_rbon{background:url(yuanjiao.jpg) 0px -265px no-repeat;height:10px;overflow:hidden;}
.line_r_bon{background:url(yuanjiao.jpg) 0px -97px no-repeat;height:10px;width:100%;overflow:hidden;}
.line_map{background:url(yuanjiao.jpg) 0px -150px no-repeat;height:10px;overflow:hidden;}
.hotbox{width:226px;height:136px;float:left;margin:8px 0 0 7px;display:inline;}
.hotbox a img{width:96px;height:125px;padding:2px;border:1px solid #ccc;float:left;}
.hotbox li{float:left;width:113px;height:22px;line-height:22px;margin-left:10px;overflow:hidden;}
.hotbox h2{width:113px;height:25px;line-height:25px;overflow:hidden;}
.hotbox h2 a{color:#bd0005;font-size:14px;margin-left:10px;display:inline;}
.textlist li{float:left;width:128px;margin-left:8px;height:23px;line-height:23px;text-align:left;border-bottom:1px dashed #ccc;display:inline;overflow:hidden;}
.map .textlist{height:1%;}
.newslist li{float:left;width:680px;margin-left:10px;height:23px;line-height:23px;text-align:left;overflow:hidden;border-bottom:1px dashed #ccc;background:url(icon15.gif) left center no-repeat;text-indent:15px;}
a.more{float:right;padding-right:10px;}
a.play,a.xq{height:20px;width:45px;display:inline-block;text-align:center;line-height:20px;}
a.play{background:url(db_bj02.jpg) no-repeat;color:#fff;}
a.play:visited{color:#fff;}
a.play:hover{color:#000;}
a.xq{background:url(db_bj01.jpg) no-repeat;}
a.red,a.red:visited{color:red;text-decoration:none;}
a.red:hover{color:#333;}
.playbox{width:680px;height:265px;float:left;margin:5px 0 0 10px;}
#comment_list{width:720px;overflow:hidden;}
.conbigimg{width:205px;height:255px;padding:2px;border:1px solid #ccc;float:left;overflow:hidden;}
.ztlist li a img{width:280px;height:74px;padding:2px;border:1px solid #ccc;overflow:hidden;}
.ztlist li{width:305px;height:110px;float:left;overflow:hidden;padding:5px 0 0 14px;}
.ztlist p{line-height:30px;height:30px;text-align:center;width:225px;}
.playbox li{float:left;width:455px;height:32px;line-height:32px;margin-left:10px;overflow:hidden;border-bottom:1px dashed #ccc;}
.playbox h2{width:415px;height:40px;line-height:40px;overflow:hidden;}
.playbox h2 a{color:#bd0005;font-size:16px;margin-left:10px;}
.playbox div{float:left;width:200px;display:block;}
.playlist{height:100%;overflow-y:auto;overflow-x:hidden;line-height:150%;}
.playlist li{float:left;width:690px;height:18px;line-height:18px;margin:5px 0 0 5px;border:1px dashed #ccc;overflow:hidden;}
.playlist li a:link,.playlist li a:visited{display:block;color:#222;text-decoration:none;}
.playlist li a:hover{color:#d80000;background:#ececec;display:block;}

.playlist1 li{float:left;width:635px;line-height:25px;margin:5px 0 0 5px;border:1px dashed #ccc;overflow:hidden;}
.playtxt p{line-height:180%;}
.playtxt{margin:8px;line-height:180%;}
.playtxt h2{font-size:14px;text-align:center;height:40px;line-height:40px;}
.playts{height:23px;line-height:23px;padding-left:10px;background:#F7F7F7;border:1px solid #EEEEEE}
.playts span{color:#D00;}
.playts a:link,.playts a:visited{color:#D00;text-decoration:underline;}
.playts a:hover{color:#000;text-decoration:none;}
.address{margin:5px;border:1px dashed #ccc;height:60px;}
.address p{line-height:200%;padding-left:10px;margin-bottom:5px;}
#page_url{border:1px solid #ccc;}
.playding{height:40px;}
.playding ul{margin:10px 0 0 15px}
.playding li{float:left;height:30px;border:1px solid #ccc;line-height:30px;margin:0 5px 0 0;padding:0 10px;font-weight:bold;overflow:hidden}
.playding li span a:link,.playding li span a:visited,.playding span{color:#f60;}
.playding li a:link,.playding li a:visited{color:#666;text-decoration:none;}
.playding li a:hover{text-decoration:underline;color:#F60;}
.playding .prenext{padding:0 0 0 5px;overflow:hidden}
.playding .prenext span{padding:0 5px}
.play_down{color:#000;height:40px;line-height:40px;padding-left:30px;overflow:hidden;}
.play_down span{color:#DD0000;}
.titlecbar h3{background:url(yuanjiao.jpg) 0 -167px no-repeat;}
.page{height:23px;line-height:23px;text-align:center;width:670px;overflow:hidden;margin:0 auto;padding-top:8px;}
.page span{float:left;height:17px;line-height:17px;margin-right:2px;padding:2px 4px 0px;font-size:12px;}
.page em.nolink{font-style:normal;background-color:white;border:1px solid #DDDDDD;color:#999999;font-weight:400;height:17px;line-height:17px;}
.page input{width:30px;margin:-2px 2px 0 0;}
.page .btn{width:40px;}
.page em{background-color:#d80000;border:1px solid #d80000;color:#000;float:left;font-weight:bold;height:16px;line-height:16px;margin:2px;padding:0px 5px;text-align:center;font-style:normal;margin-top:2px;}
.page a:link,.page a:visited{background-color:#FFFFFF;border:1px solid #DDDDDD;color:#333333;display:inline;float:left;height:16px;line-height:16px;margin-right:1px;padding:0px 5px;margin-left:3px;text-decoration:none;margin-top:2px;}
.page a:hover{background-color:#fff;border:1px solid #f60;padding:0px 5px;color:#f60;text-decoration:none;}
.links{width:978px;margin:5px auto 0;border:1px solid #ccc;overflow:hidden;}
.links h2{background:#f4f4f4;font-size:12px;height:28px;line-height:28px;text-indent:15px;}
.links li{height:23px;line-height:23px;margin-left:8px;white-space:nowrap;float:left;}
#bottom{width:980px;margin:10px auto 0;padding-top:5px;border-top:1px solid #ccc;text-align:center;clear:both;}
.suggest_link{background-color:#FFFFFF;padding:2px 6px 2px 6px;}
.suggest_link_over{background:#ff0000;padding:2px 6px 2px 6px;}
#search_suggest{position:absolute;text-align:left;border:1px solid #000000;width:240px;}
.listimg img{    border: 0px solid #FFFFFF;
    
    height: 150px;
    margin: 2px 0 0 2px;
    
    width: 120px;}
.listInfo {    margin: 15px 0 5px;}
.listInfo h3{padding-left:10px;width:135px;line-height:150%;font-size:14px;font-weight:normal;text-align:center;white-space:nowrap;overflow:hidden;}
.listInfo p{padding:0;margin:0;color:#000;line-height:150%;width:220px;text-align:left;padding:0;text-overflow:ellipsis;white-space:nowrap;overflow:hidden;}
.listBox{padding-top:10px;width:688px;margin:0 auto;}
.listBox ul{padding:0;margin:0;}
.listBox li{    background-color: #F6FFEE;
    border: 1px solid #97BF2B;
    float: left;

    margin: 8px;
    
    padding: 10px 0;
    position: relative;
    text-align: left;
    width: 672px !important;}
.listBox li span{display:block;position:absolute;top:161px;left:23px;width:120px;background:#000;filter:alpha(opacity=70);opacity:0.7;cursor:pointer;color:#fff;height:20px;line-height:20px;}
.listBox li p{text-align:left;padding-left:10px;}
.listBox li.over{border:1px solid #97BF2B;background-color:#F6FF99;}
.pagebox,.page{font-size:12px;overflow:hidden;padding:5px 0 8px;width:100%;height:100%;}
.pagebox span,.page span{float:left;height:23px;line-height:23px;margin-right:2px;padding:0 4px;font-size:12px;}
.pagebox em.nolink,.page em.nolink{font-style:normal;background-color:#F6FFDD;border:1px solid #97BF2B;color:#418100;font-weight:400;height:21px;line-height:21px;}
.pagebox input,.page input{width:25px;}
.pagebox .btn,.page .btn{width:68px;background:url(btn.gif) 8px 0px no-repeat;height:24px;border:0;}
.pagebox em,.page em{background-color:#418100;border:1px solid #97BF2B;color:#FFFFFF;float:left;font-weight:bold;height:21px;line-height:21px;margin-left:2px;padding:0 5px;text-align:center;font-style:normal;}
.pagebox a:link,.pagebox a:visited,.page a:link,.page a:visited{background-color:#F6FFDD;border:1px solid #97BF2B;color:#418100;display:inline;float:left;height:21px;line-height:21px;margin-right:1px;padding:0 5px;margin-left:3px;text-decoration:none;}
.abc a:link,.abc a:visited{font-size:14px;font-family:Arial,Helvetica,sans-serif;display:inline-block;width:20px;height:21px;line-height:21px;background-color:#F6FFDD;border:1px solid #97BF2B;color:#418100;margin-left:10px;text-decoration:none;margin-top:5px;}
.pagebox a:hover,.page a:hover{color:#418100;border:1px solid #97BF2B}
.pagebox a{target:expression(this.target='_self')}
.listBox1{padding-top:10px;width:958px;margin:0 auto;}
.listBox1 ul{padding:0;margin:0;}
.listBox1 li{float:left;width:171px !important;width:162px;height:250px;border:1px solid #97BF2B;background-color:#F6FFee;margin:8px;text-align:center;padding:10px 0;overflow:hidden;position:relative;}
.listBox1 li span{display:block;position:absolute;top:145px;left:25px;width:120px;background:#000;filter:alpha(opacity=70);opacity:0.7;cursor:pointer;color:#fff;height:20px;line-height:20px;}
.listBox1 li p{text-align:left;padding-left:10px;}
.listBox1 li.over{border:1px solid #97BF2B;background-color:#F6FF99;}


.cmtList li{background:url(cover_bg.gif) left top no-repeat; height:192px; float:left; width:126px; margin-left:8px; padding-top:1px; padding-left:1px; text-align:center;overflow:hidden;text-overflow: ellipsis;white-space: nowrap;margin-top:9px}

.cmtList li a img{border:0; display:block; height:160px; width:120px; margin-bottom:10px; text-align:left; background:url(sloading.gif) center no-repeat;}


/*新闻导航*/
.maplist{height:100%;width:950px}

.border{border:1px solid #CCCCCC;overflow:hidden}

.border h3{font-size:12px;font:bold;height:30px;line-height:28px;background:url(index2.jpg) repeat-x 0;color:#BC2D09;padding-left:10px;overflow:hidden}

.maplist ul{margin:0 0px 0 10px}

.maplist li{float:left;width:145px;text-align:left;height:22px;line-height:22px;border-bottom:dashed 1px #ccc;margin:0 5px 0 4px;overflow:hidden}



.playlist2 li{float:left;width:65px;line-height:25px;margin:5px 0 0 5px;border:1px dashed #ccc;overflow:hidden;}

.lsimg{height:485px;overflow:hidden}

.hitlist li, .lsimg li, .playlist12 li, .nohimg li{clear:both;margin:3px 8px;overflow:hidden;height:120px}

.lsimg img, .nohimg img{float:left;width:98px;height:106px;padding:2px;border:1px solid #ccc;margin:5px 0 0 0}

.lsimg p img, .nohimg p img{width:65px;height:15px;float:right;border:0;margin-top:-2px}

.lsimg dl, .nohimg dl{float:left;overflow:hidden;padding-left:10px;margin-top:5px}

.lsimg p, .nohimg p{overflow:hidden;width:110px;height:19px;line-height:19px}

.lsimg dt, .nohimg dt{overflow:hidden;width:90px;height:19px;line-height:20px}

.lsimg dt img, .nohimg dt img{width:50px;height:12px;float:right;border:0;margin-top:-1px}

.lsimg li span, .nohimg li span{display:block;float:left;overflow:hidden;width:110px;height:20px;line-height:20px}

.ileft{float:left;width:250px;margin-top:5px}

.iright{float:right;width:720px;margin-top:5px;margin-left:5px}

.newslist li{float:left;height:30px;text-align:left;width:980px;border-bottom:dashed 1px #ccc;overflow:hidden}

.newslist li a.newimg{float:left;width:85px;height:115px;margin:5px 10px 0 10px}

.newimg img{width:80px;height:110px;border:1px solid #ccc}

.newslist li a.titl{color:#000;font-size:13px;font-weight:bold;line-height:30px}

.newslist span{display:block;height:23px;color:#666}

.newslist p{line-height:150%}

.newslist li a:link{color:Blue;text-decoration:none}

.newslist li a:visited{text-decoration:none;color:Blue}

.newslist li a:hover{text-decoration:none;color:#F60}

.newscon{padding:12px 19px 9px}

.newscon h1{clear:both;font-size:18px;font-weight:bold;line-height:18px;margin:7px 0 2px;padding:0;text-align:center}

.newscon .summary{background:#FFF;border:1px solid #DCDDDD;font-size:14px;line-height:9px;margin:15px 0 0;padding:12px 5px 6px;text-align:justify;text-indent:2em}

.newscon #text{clear:both;font-size:14px;line-height:20px;padding:9px 0;text-align:justify;word-wrap:break-word}

.newscon #more{padding-top:10px;margin-bottom:30px;padding-left:15px}

.newscon #more h1{font-size:14px;text-align:left;color:#464644;border-bottom:1px solid #CCCCCC}

.newscon #more h2{font-size:13px;text-align:left;color:#464644;font-weight:normal}

.newscon #more a{color:blue}

.newscon #more span{margin-right:20px}

.newslist{height:auto;overflow:hidden}

.main{margin:0px auto 5px;width:980px;overflow:hidden}

.self_left{float:left;width:500px;margin-top:5px;border:1px solid #ccc}

.self_right{float:right;width:450px;margin-top:5px}

.self_h{padding:5px 10px 5px;height:220px;overflow:hidden}

.self_h h2{line-height:35px;padding:6px 0}

.newsvideo{height:190px;overflow:hidden}

.newsvideo li{width:133px}

.newsvideo li{float:left;maring:3px 0px 0 0;overflow:hidden}

.newsvideo p{text-align:center;line-height:22px}

.imga{width:120px;height:146px}

.newsvideo ul{float:left;padding:5px 0px 0px 10px}



/*列表(图片7列)开始*/
.layout_newlist{width:695px; margin:auto; position:relative;margin:8px 0 0px 0;padding:0 0px 2px 0px;border:1px #ccc solid}

.new_newlist{width:1600px;float:right;margin:8px 0 0px 0;padding:0 0px 2px 0px;border:1px #ccc solid}

.new_newlist .tit{line-height:30px;height:30px;width:900px;padding:0;background:url("index2.jpg") repeat-x scroll 0 50%}

.layout_newlist .tit, .play_right .tit{line-height:30px;height:30px;width:695px;padding:0;background:url("index2.jpg") repeat-x scroll 0 50%}

.newtime{margin:0 5px}

.newtime li{height:24px;line-height:24px;border-bottom:1px dashed #ccc;background:url("index2_03.jpg") no-repeat left center;padding-left:15px;overflow:hidden}

.layout_newlist h2, .play_right h2, .new_newlist h2{color:#07519a;font-size:14px;width:200px;font-weight:bold;float:left;padding-left:20px}

.layout_newlist h4, .play_right h4, .new_newlist h4{padding:0;margin:0 auto;color:#BC2D09;font-size:13px;font-weight:400;float:left;padding-left:10px}
/*width:450px;*/
.play_right{width:696px;float:left;margin:8px 0 0px 0;padding:0 0px 2px 0px;border:1px #ccc solid}

/*列表(7列)结束*/


/*Tab*/
.seedaddr { border-top:4px solid #2871A2; margin:0 0 10px 0; }

.tabmain { border:1px solid #307DB3; border-top:none; margin-bottom:5px; background:#BFE2F8 url() repeat-x; }

.tabmenu { width:100%; background:url(tabnav.gif) repeat-x 0 -73px; }

.tabmenu, .tabmenu ul, .tabmenu li.hover { height:32px; line-height:31px; }

.tabmenu ul{ padding-left:1px; }

.tabmenu li{ float:left; cursor:pointer; padding:0 0px; color:#222;
 font-weight:666; background:url(tabnav.gif) no-repeat 100% -36px; }

.tabmenu li.hover{ margin-left:-1px; background:url(tabnav.gif) no-repeat 100% 0; color:#C03; }

.tabmenu li p{ padding:0 12px 0 21px; background:url(doticon.gif) no-repeat 5px -68px; }

.tabmenu li.hover p { background:url(doticon.gif) no-repeat 5px -100px; }

.tabcontent, .tabwrap { clear:both; padding:10px 10px 5px; }

.tabcontent .none { min-height:278px; height:auto !important; height:278px; }

.none { display:none }


.filebox { width:675px;/* height:315px; */border:1px solid #2C7BB3; /*overflow-y:auto;*/ background:#EEF5FB; }

.filedow { padding:3px 5px 0 5px; }

.filedow li { line-height:22px; padding-left:17px; background:url(dowicon.gif) no-repeat 0 -1px;}

.filedow li a { padding:1px 0 1px 18px; margin-left:10px; color:#2B7D00; background-image:url(dowicon.gif); background-repeat:no-repeat; }

.filedow li a.xunlei { background-position:0 -195px; }

.filedow li a.flashget { background-position:0 -245px; }

.filedow li a:hover { color:#F60; }

.filedow li a.xunlei:hover { background-position:0 -95px; }

.filedow li a.flashget:hover { background-position:0 -145px; }


.emuledow { padding:5px 5px 0 5px; }

.emuledow li {/* height:21px;*/ padding:2px 0; /* overflow:hidden;*/ }

.emuledow li em { color:#109901;  }
 
.emuledow li img { margin:-4px 0 0 5px; _margin:0 0 0 5px; vertical-align: middle;}
 
.emuledow li input { border:none; background:#FFF; _background:none; }

.tsdow { padding:8px 5px 0 5px; }
 
.tsdow li {/* height:21px;*/ padding:2px 0 2px 22px; color:#666; /*overflow:hidden;*/ background:url(bt_down.gif) no-repeat 4px 0;}

.tsdow li:hover { background:url(bt_down.gif) no-repeat 4px -51px;}


.listimg{
    background: url("cover_bg.gif") no-repeat scroll 12px 0 transparent;
    margin: 10px;

    line-height: 2em;

    text-align: center;
    width: 144px;
}
.yqxs_excerpt {
    float:right;
    display:inline;
}
