[project]
	description = Automatically exported from code.google.com/p/fcoffice
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/iluxa-com
[access "refs/for/refs/*"]
	read = group user/iluxa-com
	push = group user/iluxa-com
	label-Code-Review = -2..+2 group user/iluxa-com
	label-Verified = -1..+1 group user/iluxa-com
	rebase = group user/iluxa-com
	removeReviewer = group user/iluxa-com
	submit = group user/iluxa-com
[access "refs/heads/*"]
	read = group user/iluxa-com
	create = group user/iluxa-com
	push = +force group user/iluxa-com
	pushMerge = group user/iluxa-com
[access "refs/tags/*"]
	push = +force group user/iluxa-com
	pushTag = group user/iluxa-com
	pushSignedTag = group user/iluxa-com
