/* ::::: http://docutils.sourceforge.net/docutils/writers/html4css1/html4css1.css ::::: */

.first { margin-top: 0pt ! important; }
.last, .with-subtitle { margin-bottom: 0pt ! important; }
div.footer, div.header { clear: both; font-size: smaller; }
h1.title { text-align: center; }
ol.simple, ul.simple { margin-bottom: 1em; }
ol.arabic { list-style: decimal outside none; }
table.docinfo { margin: 2em 4em; }
table.docutils { margin-top: 0.5em; margin-bottom: 0.5em; }
table.footnote { border-left: 1px solid black; margin-left: 1px; }
table.docutils td, table.docutils th, table.docinfo td, table.docinfo th { padding-left: 0.5em; padding-right: 0.5em; vertical-align: top; }
table.docutils th.field-name, table.docinfo th.docinfo-name { font-weight: bold; text-align: left; white-space: nowrap; padding-left: 0pt; }
