/* ::::: http://docutils.sourceforge.net/docutils/writers/html4css1/html4css1.css ::::: */

.first { margin-top: 0pt ! important; }
.last, .with-subtitle { margin-bottom: 0pt ! important; }
a.toc-backref { text-decoration: none; color: black; }
dl.docutils dd { margin-bottom: 0.5em; }
div.admonition, div.attention, div.caution, div.danger, div.error, div.hint, div.important, div.note, div.tip, div.warning { margin: 2em; border: medium outset; padding: 1em; }
div.admonition p.admonition-title, div.hint p.admonition-title, div.important p.admonition-title, div.note p.admonition-title, div.tip p.admonition-title { font-weight: bold; font-family: sans-serif; }
div.attention p.admonition-title, div.caution p.admonition-title, div.danger p.admonition-title, div.error p.admonition-title, div.warning p.admonition-title { color: red; font-weight: bold; font-family: sans-serif; }
div.footer, div.header { clear: both; font-size: smaller; }
div.topic { margin: 2em; }
h1.title { text-align: center; }
ol.simple, ul.simple { margin-bottom: 1em; }
p.topic-title { font-weight: bold; }
pre.literal-block, pre.doctest-block, pre.math { margin-left: 2em; margin-right: 2em; }
span.classifier { font-family: sans-serif; font-style: oblique; }
span.classifier-delimiter { font-family: sans-serif; font-weight: bold; }
span.pre { white-space: pre; }
table.docinfo { margin: 2em 4em; }
table.docutils { margin-top: 0.5em; margin-bottom: 0.5em; }
table.docutils td, table.docutils th, table.docinfo td, table.docinfo th { padding-left: 0.5em; padding-right: 0.5em; vertical-align: top; }
table.docutils th.field-name, table.docinfo th.docinfo-name { font-weight: bold; text-align: left; white-space: nowrap; padding-left: 0pt; }
h1 tt.docutils, h2 tt.docutils, h3 tt.docutils, h4 tt.docutils, h5 tt.docutils, h6 tt.docutils { font-size: 100%; }
