/* ::::: https://plusone.google.com/_/apps-static/_/ss/plusone/ver=-1j3h6mablvf23/am=!utGXoaV9iW6A5hH1yQ/bf=wgE/r=O/rs=AItRSTP7Q-jG910W-CSxpNdSyxkbhWTvvQ ::::: */

* html .c-wa-Da, :first-child + html .c-wa-Da { display: inline; }
.SM { float: left; white-space: nowrap; }
.k-bl-bg-SH { margin: 0pt; padding: 0pt; }
.LM { outline: 0pt none; text-decoration: none; display: block; }
.Sg { width: 24px; height: 15px; }
.gf .Sg { background: url('sprite4-a67f741843ffc4220554c34bd01bb0bb.png') no-repeat scroll 0pt -463px transparent; }
.gf a.Sg:hover { background: url('sprite4-a67f741843ffc4220554c34bd01bb0bb.png') no-repeat scroll -33px -720px transparent; }
.gf a.Sg:active { background: url('sprite4-a67f741843ffc4220554c34bd01bb0bb.png') no-repeat scroll -33px -342px transparent; }
.LM { position: relative; }
